{{ ansible_managed | comment }}

global
    log 127.0.0.1:514 local0
    chroot {{ haproxy_install_dir }}
    stats socket /run/haproxy-admin.sock mode 660 level admin expose-fd listeners
    stats timeout 30s
    user {{ haproxy_user }}
    group {{ haproxy_group }}
    daemon

    # Default SSL material locations
    ca-base /etc/ssl/certs
    crt-base {{ haproxy_install_dir }}/ssl

    # Default ciphers to use on SSL-enabled listening sockets.
    # For more information, see ciphers(1SSL). This list is from:
    #  https://hynek.me/articles/hardening-your-web-servers-ssl-ciphers/
    # An alternative list with additional directives can be obtained from
    #  https://mozilla.github.io/server-side-tls/ssl-config-generator/?server=haproxy
    ssl-default-bind-ciphers ECDH+AESGCM:DH+AESGCM:ECDH+AES256:DH+AES256:ECDH+AES128:DH+AES:RSA+AESGCM:RSA+AES:!aNULL:!MD5:!DSS
    ssl-default-bind-options no-sslv3
    tune.ssl.default-dh-param 2048
    maxconn 2048

defaults
    log global
    mode http
    option httplog
    option dontlognull
    option forwardfor
    option http-server-close
    option http-keep-alive
    timeout connect 5000
    timeout client  50000
    timeout server  50000
    errorfile 400 {{ haproxy_install_dir }}/errors/400.http
    errorfile 403 {{ haproxy_install_dir }}/errors/403.http
    errorfile 408 {{ haproxy_install_dir }}/errors/408.http
    errorfile 500 {{ haproxy_install_dir }}/errors/500.http
    errorfile 502 {{ haproxy_install_dir }}/errors/502.http
    errorfile 503 {{ haproxy_install_dir }}/errors/503.http
    errorfile 504 {{ haproxy_install_dir }}/errors/504.http

listen stats
    bind :444
    stats enable
    stats hide-version
    stats realm HAProxy\ Statistics
    stats uri /haproxy_stats
